<!DOCTYPE html>
<html lang="pl" xmlns:th="www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Main Menu</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css" th:href="@{/css/bootstrap.css}" type="text/css">
</head>
<body bgcolor="#99CC66">
<div class="container">
    <h2>Company Database </h2>
    <br><br>

    <form>
        <div class="form-row">
            <div class="col">
                <a href="/employee/seeAll" class="form-control">All Employees List</a><br>
                <a href="/car/seeAll" class="form-control">All Cars List</a><br>
                <a href="/printer/seeAll" class="form-control">All Printers List</a><br>
            </div>
            <div class="col">
                <a href="/employee/getForm" class="form-control">Add Employee Form</a><br>
                <a href="/car/getForm" class="form-control">Add Car Form</a> <br>
                <a href="/printer/getForm" class="form-control">Add Printer Form</a>
            </div>
        </div>
    </form>

    <form method="post" class="padding5px" action="#" th:action="@{/restoreData}">
        <input type="submit" class="btn btn-danger btn-block"
               value="Restore database to it's initial state. This action cannot be undone.">
    </form>

</div>
</body>
</html>